*{
    font-family: Gotham,Arial,sans-serif;
    outline: 0;
   
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
                         
}

body{
    margin:0;
    padding: 0;
}

.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/*---------alert box----------*/

.alert-box{
    display: none;
    transition: 0.3s;
}


.background{
background-color: rgba(109, 109, 109, 0.431);
position: absolute;
z-index: 9;
height: 100vh;
width: 100vw;
margin: 0;
}
.popup-box{
    height: 50vh;
    width: 50vw;
    background-color: white;
    border-radius: 10px;
    transition: 0.3s;
}

.warningIcon{
color: orange;
font-size: 5vw;
position: absolute;
left: 50%;
transform: translateX(-50%);
margin-top: 5vh;
}

.warning-animation{
height: 10vw;
position: absolute;
left: 50%;
transform: translateX(-50%);
}

#alert-text{
    text-align: center;
    word-break: break-word;
    width: 80%;
    font-size: 1.5vw;
}
.btnOk{
   top: 80%;
   background-color: #00c0bd;
   color: white;
   padding: 20px;
   border-radius: 10px;
   cursor: pointer;
   transition: 0.3s;
}
.btnOk:hover{
    background-color: #03dad6;
}
/*---------Header----------*/
.header-desktop{
    height:18vh;
    margin-left:8%;
    margin-right:8%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    z-index: 5;
   
}


.logo-desktop{
    height: 9.2vh;
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-58%,-50%);
    margin-right: 2vw
}

.logo-desktop > svg{
    height: 100%;
    animation: desktop-logo 0.6s;
}

.right-side{
    display: grid;
    grid-template-rows: 50% 50%;
}
.menu{
    display: flex;
    justify-content: flex-end;
   /* align-self: end; */
}

.icon-row{
    display: flex;
    width: 7vw;
    justify-content: space-around;
    margin-right: 10px;
    align-self: center;
    align-items: center;
}

.icons{
    height: 100%;
    text-decoration-line: none;
    display: flex;
}

.icons > svg {
    width: 17px;
}

.account-options{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login > a { 
    color: #aaa;
    transition: 0.7s;
    text-decoration-line: underline;
}

.login > a:hover{
    font-weight: 800;
    color: black;
}

.v-line{
    width: 1px;
    height: 14px;
    background-color: black;
    margin-left: 10px;
    margin-right: 10px;
}

/*---------Content----------*/
.content{
    position: absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60vw;
    height: 75vh;
    z-index: 2;
}

.top-indicator{
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}
.indicator-title{
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
}
.indicator-title > p{
display: contents;
}
.hr{
    height: 2px;
    background-color: gray;
    min-width: 10vw;
    max-width: 15vw;
}
.forms-area{
   
}
.forms{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-right: 10vw;
    margin-left: 10vw;
}
.input-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: 0.3s;
}
.input-title{
    margin-right: 2vw;
    transition: 0.3s;
}

.input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    transition: 0.3s;
}
.vr{
    width: 2px;
    height: 70%;
    position: absolute;
    background-color: gainsboro;
    margin-right: 20;
    left: 58%;
    transform: translateX(-50%);
}



.checkbox-row{
    margin-top: 7vh;
    width: 17vw;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.box{
    border: 1px solid gray;
    width: 2vw;
    height: 2vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    min-width: 20px;
    min-height: 20px;
    padding: 5px;
}

.box > .checkIcon{
    display: none;
}

.registration-button{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.button-area{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    width:40vw
}

.next-button{
background-color: #00c0bd;
width: 10vw;
height: 3vw;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
color:white;
transition: 0.3s;
cursor: pointer;

}

.back-button{
width: 10vw;
height: 3vw;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
color:#00c0bd;
border: 1px solid #00c0bd;
transition: 0.3s;
cursor: pointer;

}

.next-button:hover{
    background-color: #03dad6;
}

.correct-animation{
    display: flex;
    justify-content: center;
}

.correct-feedback{
    text-align: center;
}
/*---------Footer----------*/
.footer{
    background-color: #f8f8f8;
    position: fixed;
    bottom: 0;
    width:100vw;
    margin: 0;
    z-index: 4;
}
.footer-row{
    height: 50px;
    margin-left: 8.3vw;
    margin-right: 8.3vw;
    display: grid;
    grid-template-columns: 30% 70%;
}

.signal{
    letter-spacing: 1.7px;
    font-size: 0.9vw;
    color: gray;
    font-weight: 300;
}
.signal > p{
   position: relative;
   top:50%;
   transform: translateY(-50%);
}

.footer-buttons{
    display: flex;    
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.footer-buttons > a{
    color: rgb(88, 88, 88);
    text-decoration-line: none;
    margin: 0 10px 0 10px;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 1.1vw;
    transition: 0.5s;
}

.footer-buttons > a:hover{
    color: rgb(192, 9, 9);
    text-decoration-line: underline;
    font-weight: 600;
}





/*----------Mobil nézet----------------*/


.menu-icon{
   justify-self: center;
}

.menu-icon > svg {
    width: 30px;
    display: flex;
}

.logo-mobile > svg{
    width: 180px;
    position: relative;
    transform: translate(-50%,-50%);
    top:50%;
    left:40%;
    height: 100%;
    animation: mobil-logo 0.5s;
}

.header-mobile{
    display: none;
    grid-template-columns: 2fr 8fr;
    align-items: center;
}

.side-menu{
    width: 100vw;
    position: absolute;
    left: -500px;
    opacity: 0;
    display: grid;
    grid-template-columns: 60% 40%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

.menu-list{
    background-color: white;
    height: 90vh;
}

.menu-overlay{
    background-color: rgba(255, 255, 255, 0.63);
    height: 90vh;
}

.menu-items{
    list-style: none;
    font-size: 3.4vw;
   margin-left: -20px;
   margin-top: 30px;
}

.menu-items > li{
    margin: 15px 0 15px 0;
    color: #333;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1.5px;
}

.menu-items > li:hover{
    color: #00c0bd;;
    text-decoration-line: underline;
    font-weight: 600;
}

.social-buttons{
    list-style: none;
    margin-left: -20px;
    margin-top: 30px;
}
.btn{
    display: flex;
    font-size: 15px;
    letter-spacing: 1px;
    align-content: center;
    align-items: center;
}

.btn > svg {
    width: 13px;
    margin-right: 6px;
}

.user-accounts-mobil{
    list-style: none;
    margin-top: 20px;
    margin-left: -20px;
}

.user-accounts-mobil > li > a{
    color: gray;
    text-decoration-line: underline;
    margin-bottom: 15px;
}

#hr{
    display: none;
}

@media(max-width:855px){
    .header-desktop{
        display: none;
    }
    .header-mobile{
        display: grid;
        margin-top: 10px;
        z-index: 9;
    }
    .footer-row{
        margin:0;
        display: flex;
        justify-content: center;
    }
    .footer-buttons{
        display: none;
    }
    .signal{
        font-size: 13px;
    }
    .content{
        width:90vw;
        height: 70vh;
        top:50%;
        left:50%;
        overflow-y: scroll;
       background-color: white;
    }
    .forms-area{
        display: block;
    }
    .vr{
        display: none;
    }
    #hr{
        display: block;
    }
    .next-button{
        width: 15vw;
        height: 5vh;
        margin-bottom: 20px;
    }
    .back-button{
        width: 15vw;
        height: 5vh;
        margin-bottom: 20px;
    }
    .checkbox-row{
        width: 30vw;
        margin-left: 25vw;
    }
    
}

@media(max-width:416px){
    .next-button{
        width: 25vw;
        height: 7vh;
        margin-bottom: 20px;
    }
    .checkbox-row{
        width: 50vw;
        margin-left: 25vw;
    }
    .content{
        width: 100vw;
    }
    .content > *{
        transform: scale(0.9);
    }
    .input{
        width: 40vw;
    }
    .top-indicator{
        transform: translateX(-50%);
        margin-right: 10vw;
    }
    #alert-text{
        font-size: 4vw;
    }
    .warningIcon{
        font-size: 8vw;
    }
    .btnOk{
        padding: 10px;
    }
    .warning-animation{
        height: 20vw;
       
    }
    .back-button{
        width: 25vw;
        height: 7vh;
        margin-bottom: 20px;
    }
    .button-area{
        flex-direction: column-reverse;
        align-items: center;
    }
    .correct-animation{
        width: 50vw;
        height: 50vw;
    }
    .indicator-title{
        font-size: 12px;
    }
}

@media(max-height: 400px){
    .content{
        height: 100vh;
    }
}

@keyframes desktop-logo{
    from{
      
        height: 0;
       
    }
    to{
        height:100%
    }
}
@keyframes mobil-logo{
    from{
      width: 0px; 
    }
    to{
        width: 180px;
    }
}